@import url('https://fonts.googleapis.com/css?family=Indie Flower');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./font/EucrosiaUPCBoldItalic.ttf');
* {
    font-family: Roboto, sans-serif, 'Indie Flower', cursive, "EucrosiaUPC sans-serif";
}

body {
    font-family: roboto, sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1100px;
    margin: 0 auto;
}

img {
    width: 1100px;
    height: 450px;
}

.img-container {
    width: 1600px;
    height: 450px;
    margin-top: 65px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    /* letter-spacing: ; */
}

nav {
    margin: 30px;
}

a {
    font-size: 28px;
    color: #000000;
}
ul{
    display: flex;
    list-style: none;
    justify-content:center;
    gap: 30px;
}
li:nth-child(1) a {
    color: #0a2d4a;
    font-weight: bold;
}

li:nth-last-child(1) a {
    color: #0a2d4a;
    font-weight: bold;
}
li a{
    text-decoration: none;
}
article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

p::first-letter {
    font-family: 'EucrosiaUPC',  sans-serif;
    font-size: 40px;
}

span a {
    background: url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}

footer {
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
}

article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}
article p:last-of-type span a{
    text-decoration: none;
    font-size: medium;
    text-transform: uppercase;
}
main {
    display: flex;
}
h2{
    font-size: 26px;
    text-align: center;
    margin: 0;
}
h3{
    font-size: 19px;
    margin: 0;
    text-align: center;
}
h3 a{
    color:blue;
    text-decoration: none;
    font-size: 19px;
}
article{
    max-width: 345px;
    margin: 30px;
    /* min-height: 750px; */
    margin-left: 0;

}
p{
    text-align:justify;
    margin: 0;
}